body {
  margin: 0;
}

p,
input {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

/* サイト名 */
.site h1 a {
  color: #000000;
  text-decoration: none;
}

.site h1 {
  margin: 0;
  font-size: 30px;
}

/* コピーライト */
.copyright p {
  margin: 0;
  color: #666666;
  font-size: 14px;
}

/* headerの下に罫線 */
.contents .header {
  border-bottom: solid 1px #dddddd;
}

/* ヘッダーをバーにする */
.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #dddddd;
}

/* ボックスの左右 */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* ボックスの上下 */
.header {
  padding-top: 20px;
  padding-bottom: 10px;
  overflow: hidden;
}

/* ナビゲーション */
#menu {
  display: block !important;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.menu li a {
  display: block;
  padding: 10px 5px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #eeeeee;
}

.menu li {
  float: left;
  width: auto;
}

/* header-titleとheader-menuを横に並べる設定 */
.header-title {
  float: left;
  width: auto;
}
.header-menu {
  float: right;
  width: auto;
}

.main,
.header-inner,
.footer-inner {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

/* headerの下に罫線 */
.header {
  margin-bottom: 20px;
  border-bottom: solid 1px #dddddd;
}

.cal-container {
  width: 700px;
  height: 100px;
  margin: 0 auto 10px;
  padding: 5px;
  overflow: hidden;
  background: #252a35;
  color: #fff;
}

.cal-title {
  padding: 5px 0 5px 5px;
}

.cal-parts {
  text-align: center;
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 50px;
  display: block;
  float: left;
  box-sizing: border-box;
}
.cal-column {
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 100px;
}

#mainImage {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#mainImage img {
  vertical-align: bottom;
}

#imageList ul {
  margin: 10px;
  padding: 0;
  overflow: hidden;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#imageList li {
  float: left;
  list-style-type: none;
}

#imageList li img {
  width: 50px;
  height: 50px;
  padding-left: 1px;
  padding-right: 1px;
  box-sizing: border-box;
  vertical-align: bottom;
}

.main #js-city-select {
  display: block;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}
